h1 Administrative tools
br
div
	a(href='/admin/add/content/type') 1. Add new content type
	br
	br
	a(href='/admin/add/content/block') 2. Add new content block
	br
	br
	a(href='/admin/add/page/') 3. Add new page