doctype html
html
	head
		title Profiler Cabinet
	body
		div.root
			header.header
				logo
				section
					menu.header-menu
						a(href="/")  Home
						a(href="/docs/") Documentation
						a(href="/downloads/") Downloads
						a(href="/contacts/") Contact us
					!=cms.includeBlock('login_button', {})
			menu.left-menu
				a(href="/cabinet/auth/") Personal Information
					icon
				a(href="/cabinet/manage_projects/") Projects
					icon
				a(href="/cabinet/data/") Profiling Data
					icon
				a(href="/cabinet/statistics/") Statistics
					icon
			content.site-content #CONTENT_PLACEHOLDER#
			footer.footer Code Profiling System 2018
