doctype html
html
	head
		title My First Site
	body
		div.root
			header.header
				logo
				section
					menu.header-menu
						a Home
						a Documentation
						a Contact us
					a.login 
						icon
						span Log In
			menu.left-menu
				a Personal Information
					icon
				a Projects
					icon
				a Profiling Data
					icon
				a Statistics
					icon
			content.site-content #CONTENT_PLACEHOLDER#
			footer.footer Code Profiling System 2018
