section.form-border
	h1.form-title Authorization form
	form(action=cms.getCurrentUrl() method='post')
		p #{data.test}
		if(data.errorMessage)
			p.error #{data.errorMessage}
		if(!data.user)
			input(name='login' value='' type='text' placeholder='Enter your login')
			input(name='psswd' value='' type='password' placeholder='Enter your password')
			input(name='login_submit' value='Log In' type='submit')
			div Not registered yet? Please sign up #[a( href='/registration/' ) here]
		else
			p You entered successfully. Your login: #{data.user.name}
			a(href='/auth/?logout=yes') Logout
			a(href='/admin/') Admin section
