a(href="common/") 1. Measures statistics common graphic (time & memory)
br
a(href="sessions-time/") 2. Every session of measure (time)
br
a(href="sessions-memory/") 3. Every session of measure (memory)