h1 Registration form
form(action=cms.getCurrentUrl() method='post')
	input(name='login' value='' type='text' placeholder='Enter your login')
	br
	input(name='psswd' value='' type='password' placeholder='Enter your password')
	br
	input(name='register_submit' value='Register' type='submit')